<div class="header_container">
    <button routerLink="home" routerLinkActive="active"><img class="img_logo" src="https://yt3.ggpht.com/szC0cpXS4cgBApOTeOUe-0TmrHkeaUr_XQzKyPcmlzy2mYd9_jxk817iwC8iIwgttSmNwkAu8gQ=s900-c-k-c0x00ffffff-no-rj"></button>
    
    <div class="kart">
        <p style="color:white; margin-right: 5px; text-decoration: underline;"> {{email}}</p>
        <button routerLink="cart" routerLinkActive="active"><img src="../../../assets/pngwing.com.png"  class="Kart_img"></button>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </div>  
</div>


